*{
  margin: 0px;
  padding: 0px
}

/* LEARNING WEBSITE LAYOUT USING THE TRADITIONAL BOX-MODEL TECHNIQUE */

/* this means that any paragragh that have a div as a parent will be affected with the style given to the div */
/* div > p {
  color: blueviolet;
} */

/* the plus sign in the below means affect the second element when it immidiately follows the first and they must have the same parents*/

/* p.mac + p {
  color: blue;
} */

h1{
  font: bold 20px Tahoma;
}

h2{
  font: bold 14px Tahoma;
}

/* for our website to be compatible with all browers we do the below */
 
header,section,footer,aside,nav,article,hgroup{
  display: block;
}

body{
  text-align: center;
}

#big-wrapper{
  border: 1px solid black;
  width: 1000px;
  margin: 20px auto;
  text-align: left;
}

#top-header{
  background: yellow;
  border: 1px solid blue;
  padding: 20px;
}

#top-menu-nav{
   background: blue;
   color: white;
}

#top-menu-nav li{
  display: inline-block;
  list-style: none;
  padding: 5px;
  font: bold 14px Tahoma;
}

#main-section{
  float: left;
  width: 660px;
  margin: 30px; /* this is 720px total,280 left */
}

#aside-tag{
  float: left;
  width: 220px;
  margin: 20px 0px;
  padding: 30px;
  background: #66cccc;
}

#the-footer{
  clear: both;
  text-align: center;
  padding: 20px;
  border-top: 2px solid green
}

article{
  background: #fffbcc;
  border: 1px solid red;
  padding: 20px;
  margin-bottom: 15px; 
}

article footer{
  text-align: right;
}
