body{
  text-align: center;
}

header,section,aside,nav,article,hgroup,footer{
  display: block;
}

#skin{
  width: 700px;
  margin: 10px auto;
  padding: 5px;
  background: red;
  border: 2px solid black;
  border-radius: 10px;
}

nav{
  margin: 5px 0px;
}

#buttons{
  float: left;
  width: 70px;
  height: 22px;
}